li{
    list-style-type:none;
  }
  .map-elements{
    display:flex;
    flex-direction: row;
    margin :10px;
    justify-content: center;
  
  }
  #map-element-list{
    background-color: aqua;
    width:300px;
    height: 30px;
  }
  button{
    border: none;
    cursor:pointer;
    margin-left:20px;
    color:white;
    background-color: black;
  }
  #textwrites{
    font-size: 1.4rem;
    margin:20px;
  }
  #text-write-submit{
    font-size:1.4rem;
    background-color: rgb(84, 57, 6);
    color:white;
    font-family: 'Times New Roman', Times, serif;
    cursor:pointer;
  }
  #head-name{
       font-size:2rem;
       color:rgb(102, 68, 5);
       
  }
  